In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

## Carga de datos
Se importa los datasets:
* JSTdatasetR5 de [http://data.macrohistory.net/JST/JSTdatasetR5.dta](http://data.macrohistory.net/JST/JSTdatasetR5.dta)
*

In [2]:
df = pd.read_stata("../data/JSTdatasetR5.dta")

In [3]:
df.head()

,year,country,iso,ifs,pop,rgdpmad,rgdppc,rconpc,gdp,iy,...,eq_capgain,eq_dp,eq_capgain_interp,eq_tr_interp,eq_dp_interp,bond_rate,eq_div_rtn,capital_tr,risky_tr,safe_tr
0,1870.0,Australia,AUS,193,1775.0,3273.239437,13.836157,21.449734,208.78,0.109266,...,-0.070045,0.071417,NaN,NaN,NaN,0.049118,0.066415,NaN,NaN,NaN
1,1871.0,Australia,AUS,193,1675.0,3298.507463,13.936864,19.930801,211.56,0.104579,...,0.041654,0.065466,NaN,NaN,NaN,0.048446,0.068193,NaN,NaN,NaN
2,1872.0,Australia,AUS,193,1722.0,3553.426249,15.044247,21.085006,227.40,0.130438,...,0.108945,0.062997,NaN,NaN,NaN,0.047373,0.069861,NaN,NaN,NaN
3,1873.0,Australia,AUS,193,1769.0,3823.629169,16.219443,23.254910,266.54,0.124986,...,0.083086,0.064484,NaN,NaN,NaN,0.046720,0.069842,NaN,NaN,NaN
4,1874.0,Australia,AUS,193,1822.0,3834.796926,16.268228,23.458050,287.58,0.141960,...,0.119389,0.063503,NaN,NaN,NaN,0.046533,0.071085,NaN,NaN,NaN

In [4]:
df.tail()

,year,country,iso,ifs,pop,rgdpmad,rgdppc,rconpc,gdp,iy,...,eq_capgain,eq_dp,eq_capgain_interp,eq_tr_interp,eq_dp_interp,bond_rate,eq_div_rtn,capital_tr,risky_tr,safe_tr
2659,2013.0,USA,USA,111,315820.328999,31571.993947,103.425299,101.892671,16784.851,0.192086,...,0.271035,0.019355,NaN,NaN,NaN,0.023508,0.024601,0.139843,0.212405,-0.065168
2660,2014.0,USA,USA,111,318106.646578,32113.618881,105.186253,104.113597,17527.258,0.196377,...,0.136350,0.019199,NaN,NaN,NaN,0.025408,0.021817,0.130063,0.132729,0.122398
2661,2015.0,USA,USA,111,320413.930388,32800.923063,107.421590,107.192931,18224.780,0.198301,...,-0.000092,0.021124,NaN,NaN,NaN,0.021358,0.021122,0.046193,0.065433,-0.008779
2662,2016.0,USA,USA,111,322705.239927,33078.508719,108.318698,109.333457,18715.040,0.195831,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2663,2017.0,USA,USA,111,324802.861426,33593.446309,110.013284,111.389150,19519.424,0.204547,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## PaÃ­ses

In [10]:
df.country.unique()

array(['Australia', 'Belgium', 'Canada', 'Switzerland', 'Germany',
       'Denmark', 'Spain', 'Finland', 'France', 'UK', 'Ireland', 'Italy',
       'Japan', 'Netherlands', 'Norway', 'Portugal', 'Sweden', 'USA'],
      dtype=object)

In [11]:
df.iso.unique()

array(['AUS', 'BEL', 'CAN', 'CHE', 'DEU', 'DNK', 'ESP', 'FIN', 'FRA',
       'GBR', 'IRL', 'ITA', 'JPN', 'NLD', 'NOR', 'PRT', 'SWE', 'USA'],
      dtype=object)

In [26]:
df.isna().sum().sort_values()

year                           0
country                        0
iso                            0
ifs                            0
peg_type                       0
peg_base                       0
crisisJST                     50
peg                           50
peg_strict                    50
pop                           51
cpi                           52
rgdpmad                       52
rgdppc                        52
xrusd                         53
gdp                           77
ltrate                        87
imports                      115
exports                      115
narrowm                      115
crisisJST_old                148
expenditure                  155
rconpc                       156
revenue                      174
stir                         198
money                        201
debtgdp                      229
ca                           229
tloans                       250
iy                           293
lev                          362
bond_rate                    363
eq_capgain                   377
bill_rate                    392
tmort                        403
ltd                          416
eq_tr                        430
bond_tr                      449
noncore                      485
safe_tr                      496
eq_dp                        524
eq_div_rtn                   530
housing_capgain              585
hpnom                        668
JSTtrilemmaIV                727
JSTtrilemmaIV_R              743
housing_rent_yd              797
housing_rent_rtn             809
housing_tr                   809
risky_tr                     878
capital_tr                   901
thh                         1344
tbus                        1419
rent_ipolated               2635
eq_capgain_interp           2657
eq_tr_interp                2657
eq_dp_interp                2658
housing_capgain_ipolated    2659
dtype: int64